body {
	background: url(../images/wood-repeat.jpg) repeat;
}

$top-icons-layout: horizontal;
@import "top-icons/*.png";
nav {

	&#top {
		float: right;

		li, a {
			@include inline-block;
		}
		li {
			a {
				font-size: 14px;
				color: #474747;
				padding: 0 15px;
				height: 35px;
				line-height: 35px;
				@include sans-serif;
				text-decoration: none;
				border-left: 2px solid #c5c79c;

				span {
					@include inline-block;
					background-repeat: none;
					margin-right: 4px;
				}
			}
			&.phone a span {
				width: 31px;
				height: 21px;
				@include top-icons-sprite(phone);
			}
			&.account a span {
				width: 23px;
				height: 26px;
				@include top-icons-sprite(account);	
			}
			&.cart a span {
				width: 27px;
				height: 25px;
				@include top-icons-sprite(cart);
			}
		}
	}

}

header.main {

	border-top: 2px solid #86BF8D;
	background-color: #FFFFFF;
	clear: both;

	.wrap > ul {

		text-align: center;


		> li {

			@include inline-block;
			position: relative;
			margin: 32px 30px;

			&.sub {

				.arrow {
					@include arrow-down(6px, #55A560);
					margin-left: 5px;
					@include inline-block;
				}

				> a:hover {
					color: #fff;
				}

			}

			> a {
				@include inline-block;
				color: #9A9A9A;
				font-size: 24px;
				height: 45px;
				line-height: 45px;
				padding: 0 0px;
				margin: 0 15px;
			}

			&.logo a {
				width: 57px;
				height: 76px;
				background: url(../images/top-logo.png) no-repeat;
				padding: 0;
				margin: 0 10px;
			}

			> ul {
				display: none;
			}

			&.sub:hover {

				background-color: #9cc192;
				@include background-image(linear-gradient(top, rgb(156, 193, 146), rgb(100, 170, 104)));
				@include filter-gradient(rgb(156, 193, 146), rgb(100, 170, 104), vertical);

				.arrow {
					@include arrow-down(6px, lighten(#55A560, 30%));
				}

				> a {
					color: #fff;
				}	

				ul {
					display: block;
					position: absolute;
					top: 45px;
					left: 0;
					z-index: 100;

					li {
						a {
							display: block;
							width: 130px;
							text-align: left;
							background-color: #64AA68;
							color: #fff;
							font-size: 16px;
							@include sans-serif;
							text-decoration: none;
							padding: 2px 10px;
							height: 33px;
							line-height: 33px;
							border-bottom: 1px solid #D0E2CC;

							&:hover {
								background-color: lighten(#66AC6D, 10%);
							}
						}
					}
				}

			}
		}
	}

}

footer.main {

	padding: 20px 0 0 0;
	background: url(../images/footer-texture.jpg) repeat;

	h3 {
		font-size: 20px;
		color: #fff;
		margin-bottom: 15px;
		@include sans-serif;
	}

	.column {
		float: left;
		margin-right: 35px;
	}

	ul {
		li {
			display: block;

			a {
				font-size: 16px;
				line-height: 20px;
				text-decoration: none;
				color: #fff;
				@include sans-serif;
			}
		}
	}

	.copyright {
		font-size: 15px;
		color: #fff;
		float: right;
		@include clearfix;
		@include sans-serif;
	}
}

@include sticky-footer(220px, "#root", "#root_footer", "footer.main");

section.page {
	@include rgba-background(rgba(255,255,255,.42));
	padding: 20px;
	@include sans-serif;
}