@mixin text-smooth() {
	-webkit-font-smoothing: antialiased;
}

@mixin arrow-up($size: 10px, $color: black){
	width: 0; 
	height: 0; 
	border-left: $size solid transparent;
	border-right: $size solid transparent;
	border-bottom: $size solid $color;
}

@mixin arrow-down($size: 10px, $color: black){
	width: 0; 
	height: 0; 
	border-left: $size solid transparent;
	border-right: $size solid transparent;
	border-top: $size solid $color;
}

@mixin arrow-right($size: 10px, $color: black){
	width: 0; 
	height: 0; 
	border-top: $size solid transparent;
	border-bottom: $size solid transparent;
	border-left: $size solid $color;
}

@mixin arrow-left($size: 10px, $color: black){
	width: 0; 
	height: 0; 
	border-top: $size solid transparent;
	border-bottom: $size solid transparent; 
	border-right:$size solid $color;
}

@mixin button()
{
	width: 152px;
	margin: 0 auto;
	display: block;
	color: #fff;
	@include sans-serif;
	background-color: #55a560;
	@include background-image(linear-gradient(top, rgb(85, 165, 96), rgb(52, 118, 60)));
	@include filter-gradient(rgb(85, 165, 96), rgb(52, 118, 60), vertical);
	@include box-shadow(inset 0px 1px 3px 1px #2D6835);
	text-align: center;
	font-size: 18px;
	border: none;
	padding: 10px;
	cursor: pointer;
	@include transition-duration(350ms);

	&:hover {
		@include box-shadow(inset 0px 1px 5px 2px #2D6835);
	}
}

@mixin light-bg() {
	@include rgba-background(rgba(255,255,255,.60));
}

@mixin input-placeholder($color) {
  &.placeholder {
    color: $color; 
    }
  &:-moz-placeholder {
    color: $color; 
    }
  &::-webkit-input-placeholder {
    color: $color; 
    } 
}