.widgets {

	ul {
		
		margin: 25px 0 15px 0;
		text-align: center;


		li {
			@include inline-block;
			margin-left: 10px;
			margin-bottom: 10px;

			&.first, &:first-child {
				margin-left: 0px;
			}

			a {
				@include inline-block;
			}
		}
	}
}

.widget {
	@include rgba-background(rgba(255,255,255,.42));
	width: 301px;
	height: 258px;
	border: 2px solid #BDD6B9;
	display: block;
	@include box-sizing(content-box);

	&.hover {
		cursor: pointer;
	}

	&.hover:hover {
		@include rgba-background(rgba(255,255,255,.3));
	}

	h3 {
		font-size: 28px;
		color: #55A560;
	}
	h4 {
		@include sans-serif;
		font-size: 17px;
		color: #474747;
	}

	&.assembly {
		padding-top: 25px;
		height: 233px;
		h3 {
			margin-top: 5px;
			margin-bottom: 5px;
			text-align: center;
		}

		&:hover img {
			@include opacity(.8);
		}
	}

	&.advert:hover img {
		@include opacity(.9);
	}

	&.testimonial {

		padding-left: 20px;
		width: 281px;
		position: relative;
		cursor: default;

		li {
			height: 215px;
			overflow: hidden;
			margin: 0;
		}
		h2 {
		 	color: #fff;
		 	font-size: 20px;
		 	@include sans-serif;
		 	text-align: center;
		 	line-height: 23px;
		 	background: url(../images/testimonials/quote.png) no-repeat;
		 	width: 187px;
		 	height: 42px;
		 	padding: 15px 35px 41px 35px;
		 	margin-bottom: 5px;
		}
		img {
		 	float: left;
		 	padding-right: 15px;
		}
		h3 {
		 	margin-top: 25px;
		 	text-align: left;
		}
		h4 {
		 	text-align: left;
		}
		a.nav {
			width: 20px;
			height: 23px;
			background: url(../images/testimonial-arrow.png) no-repeat;
			position: absolute;
			bottom: 35px;
			left: 145px;
			z-index: 10;

			&.next {
				background-position: right top;
				left: 170px;
			}
		}
	}
}

.inner-wrap aside {

	float: left;

	.widget {
		margin-bottom: 5px;

		&.testimonial {
			padding-top: 20px;
			height: 242px;
		}

		&.subnav {

			padding-top: 25px;

			li {
				list-style-position: outside;
				margin-left: 20px;

				a {
					@include inline-block;
					@include sans-serif;
					line-height: 29px;
					text-decoration: none;
					color: #767676;
					font-size: 20px;
					&.active {
						color: #52a65d;
					}
					span {
						@include inline-block;
						margin-right: 10px;
						@include arrow-right(6px, #55A560);
					}
				}
			}
		}
	}

}