@import "rgbapng";
@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";
@import "compass/layout";
@import "reset";
@import "fonts";
@import "mixins";

// note: change site_width to 879 and fix homepage and check
$site_width: 1024px;
$inner-wrap: 879px;

.wrap {
	width: $site_width;
	margin: 0 auto;
}

.inner-wrap {
	width: $inner-wrap;
	margin: 0 auto;
}

@import "global";
@import "modules";
@import "pages/global";
@import "pages/home";
@import "pages/how-it-works";

@import "pages/shop-main";