/*
  Mixins are slightly modified from Benjamin Doherty's first implementations: http://gist.github.com/377912
  rgba-background mixin can now be passed an option $dir variable
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

html, body {
  width: 100%;
  height: 100%; }

.clearFloat {
  clear: both; }

/*
@font-face {
	font-family: 'ProximaNovaExtrabold';
	src: url('../fonts/proxima-nova/proximanova-extrabold-webfont.eot');
	src: local('Proxima Nova'), local('ProximaNovaExtrabld'), url('../fonts/proxima-nova/proximanova-extrabold-webfont.woff') format('woff'), url('../fonts/proxima-nova/proximanova-extrabold-webfont.ttf') format('truetype'), url('../fonts/proxima-nova/proximanova-extrabold-webfont.svgz#webfont5j4Ioo87') format('svg'), url('../fonts/proxima-nova/proximanova-extrabold-webfont.svg#webfont5j4Ioo87') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaBlack';
	src: url('../fonts/proxima-nova/proximanova-black-webfont.eot');
	src: local('Proxima Nova'), local('ProximaNovaBlack'), url('../fonts/proxima-nova/proximanova-black-webfont.woff') format('woff'), url('../fonts/proxima-nova/proximanova-black-webfont.ttf') format('truetype'), url('../fonts/proxima-nova/proximanova-black-webfont.svgz#webfontYEgw7Aiv') format('svg'), url('../fonts/proxima-nova/proximanova-black-webfont.svg#webfontYEgw7Aiv') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/proxima-nova/proximanova-regitalic-webfont.eot");
  src: local("Proxima Nova"), local("ProximaNovaRegularIt"), url("../fonts/proxima-nova/proximanova-regitalic-webfont.woff") format("woff"), url("../fonts/proxima-nova/proximanova-regitalic-webfont.ttf") format("truetype"), url("../fonts/proxima-nova/proximanova-regitalic-webfont.svgz#webfontnRuxyxpy") format("svg"), url("../fonts/proxima-nova/proximanova-regitalic-webfont.svg#webfontnRuxyxpy") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/proxima-nova/proximanova-regular-webfont.eot");
  src: local("Proxima Nova"), local("ProximaNovaRegular"), url("../fonts/proxima-nova/proximanova-regular-webfont.woff") format("woff"), url("../fonts/proxima-nova/proximanova-regular-webfont.ttf") format("truetype"), url("../fonts/proxima-nova/proximanova-regular-webfont.svgz#webfonteneA6i5M") format("svg"), url("../fonts/proxima-nova/proximanova-regular-webfont.svg#webfonteneA6i5M") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/proxima-nova/proximanova-regularitalic-webfont.eot");
  src: local("Proxima Nova"), local("ProximaNovaRegularIt"), url("../fonts/proxima-nova/proximanova-regularitalic-webfont.woff") format("woff"), url("../fonts/proxima-nova/proximanova-regularitalic-webfont.ttf") format("truetype"), url("../fonts/proxima-nova/proximanova-regularitalic-webfont.svgz#webfontpjOyaPQr") format("svg"), url("../fonts/proxima-nova/proximanova-regularitalic-webfont.svg#webfontpjOyaPQr") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/proxima-nova/proximanova-bold-webfont.eot");
  src: local("Proxima Nova"), local("ProximaNovaBold"), url("../fonts/proxima-nova/proximanova-bold-webfont.woff") format("woff"), url("../fonts/proxima-nova/proximanova-bold-webfont.ttf") format("truetype"), url("../fonts/proxima-nova/proximanova-bold-webfont.svgz#webfontbFDweusv") format("svg"), url("../fonts/proxima-nova/proximanova-bold-webfont.svg#webfontbFDweusv") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/proxima-nova/proximanova-boldit-webfont.eot");
  src: local("Proxima Nova"), local("ProximaNovaBoldIt"), url("../fonts/proxima-nova/proximanova-boldit-webfont.woff") format("woff"), url("../fonts/proxima-nova/proximanova-boldit-webfont.ttf") format("truetype"), url("../fonts/proxima-nova/proximanova-boldit-webfont.svgz#webfontabbGNbdo") format("svg"), url("../fonts/proxima-nova/proximanova-boldit-webfont.svg#webfontabbGNbdo") format("svg");
  font-weight: bold;
  font-style: italic; }

/*
@font-face {
	font-family: 'ProximaNovaLight';
	src: url('../fonts/proxima-nova/proximanova-light-webfont.eot');
	src: local('Proxima Nova Light'), local('ProximaNovaLight'), url('../fonts/proxima-nova/proximanova-light-webfont.woff') format('woff'), url('../fonts/proxima-nova/proximanova-light-webfont.ttf') format('truetype'), url('../fonts/proxima-nova/proximanova-light-webfont.svgz#webfontnoehejkg') format('svg'), url('../fonts/proxima-nova/proximanova-light-webfont.svg#webfontnoehejkg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaLightItalic';
	src: url('../fonts/proxima-nova/proximanova-lightitalic-webfont.eot');
	src: local('Proxima Nova Light'), local('ProximaNovaLightIt'), url('../fonts/proxima-nova/proximanova-lightitalic-webfont.woff') format('woff'), url('../fonts/proxima-nova/proximanova-lightitalic-webfont.ttf') format('truetype'), url('../fonts/proxima-nova/proximanova-lightitalic-webfont.svgz#webfontkflR1Ql4') format('svg'), url('../fonts/proxima-nova/proximanova-lightitalic-webfont.svg#webfontkflR1Ql4') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'ProximaNovaSemibold';
	src: url('../fonts/proxima-nova/proximanova-semibold-webfont.eot');
	src: local('Proxima Nova Semibold'), local('ProximaNovaSemibold'), url('../fonts/proxima-nova/proximanova-semibold-webfont.woff') format('woff'), url('../fonts/proxima-nova/proximanova-semibold-webfont.ttf') format('truetype'), url('../fonts/proxima-nova/proximanova-semibold-webfont.svgz#webfontW4Kw3XCi') format('svg'), url('../fonts/proxima-nova/proximanova-semibold-webfont.svg#webfontW4Kw3XCi') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaSemiboldItalic';
	src: url('../fonts/proxima-nova/proximanova-semibolditalic-webfont.eot');
	src: local('Proxima Nova Semibold'), local('ProximaNovaSemiboldIt'), url('../fonts/proxima-nova/proximanova-semibolditalic-webfont.woff') format('woff'), url('../fonts/proxima-nova/proximanova-semibolditalic-webfont.ttf') format('truetype'), url('../fonts/proxima-nova/proximanova-semibolditalic-webfont.svgz#webfont2KtTNzbY') format('svg'), url('../fonts/proxima-nova/proximanova-semibolditalic-webfont.svg#webfont2KtTNzbY') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'ProximaNovaCondensedLight';
	src: url('../fonts/proxima-nova/proximanovacond-light-webfont.eot');
	src: local('Proxima Nova Condensed'), local('ProximaNovaCondLight'), url('../fonts/proxima-nova/proximanovacond-light-webfont.woff') format('woff'), url('../fonts/proxima-nova/proximanovacond-light-webfont.ttf') format('truetype'), url('../fonts/proxima-nova/proximanovacond-light-webfont.svgz#webfontYsaL5HAt') format('svg'), url('../fonts/proxima-nova/proximanovacond-light-webfont.svg#webfontYsaL5HAt') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaCondensedLightItal';
	src: url('../fonts/proxima-nova/proximanovacond-lightit-webfont.eot');
	src: local('Proxima Nova Condensed'), local('ProximaNovaCondLightIt'), url('../fonts/proxima-nova/proximanovacond-lightit-webfont.woff') format('woff'), url('../fonts/proxima-nova/proximanovacond-lightit-webfont.ttf') format('truetype'), url('../fonts/proxima-nova/proximanovacond-lightit-webfont.svgz#webfont8q0Q55Kx') format('svg'), url('../fonts/proxima-nova/proximanovacond-lightit-webfont.svg#webfont8q0Q55Kx') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'ProximaNovaCondensed';
	src: url('../fonts/proxima-nova/proximanovacond-regular-webfont.eot');
	src: local('Proxima Nova Condensed'), local('ProximaNovaCondRegular'), url('../fonts/proxima-nova/proximanovacond-regular-webfont.woff') format('woff'), url('../fonts/proxima-nova/proximanovacond-regular-webfont.ttf') format('truetype'), url('../fonts/proxima-nova/proximanovacond-regular-webfont.svgz#webfontRRRHaqdw') format('svg'), url('../fonts/proxima-nova/proximanovacond-regular-webfont.svg#webfontRRRHaqdw') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaCondensedRegularIt';
	src: url('../fonts/proxima-nova/proximanovacond-regularit-webfont.eot');
	src: local('Proxima Nova Condensed'), local('ProximaNovaCondRegularIt'), url('../fonts/proxima-nova/proximanovacond-regularit-webfont.woff') format('woff'), url('../fonts/proxima-nova/proximanovacond-regularit-webfont.ttf') format('truetype'), url('../fonts/proxima-nova/proximanovacond-regularit-webfont.svgz#webfontfyEmwOEF') format('svg'), url('../fonts/proxima-nova/proximanovacond-regularit-webfont.svg#webfontfyEmwOEF') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'ProximaNovaCondensedSemibold';
	src: url('../fonts/proxima-nova/proximanovacond-semibold-webfont.eot');
	src: local('Proxima Nova Condensed'), local('ProximaNovaCondSemibold'), url('../fonts/proxima-nova/proximanovacond-semibold-webfont.woff') format('woff'), url('../fonts/proxima-nova/proximanovacond-semibold-webfont.ttf') format('truetype'), url('../fonts/proxima-nova/proximanovacond-semibold-webfont.svgz#webfontE1h4MUvD') format('svg'), url('../fonts/proxima-nova/proximanovacond-semibold-webfont.svg#webfontE1h4MUvD') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaCondensedSemiboldI';
	src: url('../fonts/proxima-nova/proximanovacond-semiboldit-webfont.eot');
	src: local('Proxima Nova Condensed'), local('ProximaNovaCondSemiboldIt'), url('../fonts/proxima-nova/proximanovacond-semiboldit-webfont.woff') format('woff'), url('../fonts/proxima-nova/proximanovacond-semiboldit-webfont.ttf') format('truetype'), url('../fonts/proxima-nova/proximanovacond-semiboldit-webfont.svgz#webfont0wVPWqY2') format('svg'), url('../fonts/proxima-nova/proximanovacond-semiboldit-webfont.svg#webfont0wVPWqY2') format('svg');
	font-weight: bold;
	font-style: italic;
}
*/
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on January 3, 2013 */
@font-face {
  font-family: 'wisdom-script';
  src: url("../fonts/wisdom-script/wisdom_script-webfont.eot");
  src: url("../fonts/wisdom-script/wisdom_script-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/wisdom-script/wisdom_script-webfont.woff") format("woff"), url("../fonts/wisdom-script/wisdom_script-webfont.ttf") format("truetype"), url("../fonts/wisdom-script/wisdom_script-webfont.svg#wisdom_script_airegular") format("svg");
  font-weight: normal;
  font-style: normal; }

.wrap {
  width: 1024px;
  margin: 0 auto; }

.inner-wrap {
  width: 879px;
  margin: 0 auto; }

body {
  background: url(../images/wood-repeat.jpg) repeat; }

.top-icons-sprite, nav#top li.phone a span, nav#top li.account a span, nav#top li.cart a span {
  background: url('../images/top-icons-s97a5989d9f.png') no-repeat; }

nav#top {
  float: right; }
  nav#top li, nav#top a {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline; }
  nav#top li a {
    font-size: 14px;
    color: #474747;
    padding: 0 15px;
    height: 35px;
    line-height: 35px;
    font-family: 'ProximaNova', 'helvetica', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    border-left: 2px solid #c5c79c; }
    nav#top li a span {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      background-repeat: none;
      margin-right: 4px; }
  nav#top li.phone a span {
    width: 31px;
    height: 21px;
    background-position: -50px 0; }
  nav#top li.account a span {
    width: 23px;
    height: 26px;
    background-position: 0 0; }
  nav#top li.cart a span {
    width: 27px;
    height: 25px;
    background-position: -23px 0; }

header.main {
  border-top: 2px solid #86BF8D;
  background-color: #FFFFFF;
  clear: both; }
  header.main .wrap > ul {
    text-align: center; }
    header.main .wrap > ul > li {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      position: relative;
      margin: 32px 30px; }
      header.main .wrap > ul > li.sub .arrow {
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #55a560;
        margin-left: 5px;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        zoom: 1;
        *display: inline; }
      header.main .wrap > ul > li.sub > a:hover {
        color: #fff; }
      header.main .wrap > ul > li > a {
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        zoom: 1;
        *display: inline;
        color: #9A9A9A;
        font-size: 24px;
        height: 45px;
        line-height: 45px;
        padding: 0 0px;
        margin: 0 15px; }
      header.main .wrap > ul > li.logo a {
        width: 57px;
        height: 76px;
        background: url(../images/top-logo.png) no-repeat;
        padding: 0;
        margin: 0 10px; }
      header.main .wrap > ul > li > ul {
        display: none; }
      header.main .wrap > ul > li.sub:hover {
        background-color: #9cc192;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9cc192), color-stop(100%, #64aa68));
        background-image: -webkit-linear-gradient(top, #9cc192, #64aa68);
        background-image: -moz-linear-gradient(top, #9cc192, #64aa68);
        background-image: -o-linear-gradient(top, #9cc192, #64aa68);
        background-image: linear-gradient(top, #9cc192, #64aa68);
        *zoom: 1;
        filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF9CC192', endColorstr='#FF64AA68'); }
        header.main .wrap > ul > li.sub:hover .arrow {
          width: 0;
          height: 0;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 6px solid #b8dbbd; }
        header.main .wrap > ul > li.sub:hover > a {
          color: #fff; }
        header.main .wrap > ul > li.sub:hover ul {
          display: block;
          position: absolute;
          top: 45px;
          left: 0;
          z-index: 100; }
          header.main .wrap > ul > li.sub:hover ul li a {
            display: block;
            width: 130px;
            text-align: left;
            background-color: #64AA68;
            color: #fff;
            font-size: 16px;
            font-family: 'ProximaNova', 'helvetica', sans-serif;
            -webkit-font-smoothing: antialiased;
            text-decoration: none;
            padding: 2px 10px;
            height: 33px;
            line-height: 33px;
            border-bottom: 1px solid #D0E2CC; }
            header.main .wrap > ul > li.sub:hover ul li a:hover {
              background-color: #87be8d; }

footer.main {
  padding: 20px 0 0 0;
  background: url(../images/footer-texture.jpg) repeat; }
  footer.main h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 15px;
    font-family: 'ProximaNova', 'helvetica', sans-serif;
    -webkit-font-smoothing: antialiased; }
  footer.main .column {
    float: left;
    margin-right: 35px; }
  footer.main ul li {
    display: block; }
    footer.main ul li a {
      font-size: 16px;
      line-height: 20px;
      text-decoration: none;
      color: #fff;
      font-family: 'ProximaNova', 'helvetica', sans-serif;
      -webkit-font-smoothing: antialiased; }
  footer.main .copyright {
    font-size: 15px;
    color: #fff;
    float: right;
    overflow: hidden;
    *zoom: 1;
    font-family: 'ProximaNova', 'helvetica', sans-serif;
    -webkit-font-smoothing: antialiased; }

html, body {
  height: 100%; }

#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -220px; }
  #root #root_footer {
    height: 220px; }

footer.main {
  clear: both;
  position: relative;
  height: 220px; }

section.page {
  background: url('../images/rgbapng/ffffff6b.png?1357704915');
  background: rgba(255, 255, 255, 0.42);
  padding: 20px;
  font-family: 'ProximaNova', 'helvetica', sans-serif;
  -webkit-font-smoothing: antialiased; }

.widgets ul {
  margin: 25px 0 15px 0;
  text-align: center; }
  .widgets ul li {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    margin-left: 10px;
    margin-bottom: 10px; }
    .widgets ul li.first, .widgets ul li:first-child {
      margin-left: 0px; }
    .widgets ul li a {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline; }

.widget {
  background: url('../images/rgbapng/ffffff6b.png?1357704915');
  background: rgba(255, 255, 255, 0.42);
  width: 301px;
  height: 258px;
  border: 2px solid #BDD6B9;
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }
  .widget.hover {
    cursor: pointer; }
  .widget.hover:hover {
    background: url('../images/rgbapng/ffffff4d.png?1357704915');
    background: rgba(255, 255, 255, 0.3); }
  .widget h3 {
    font-size: 28px;
    color: #55A560; }
  .widget h4 {
    font-family: 'ProximaNova', 'helvetica', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 17px;
    color: #474747; }
  .widget.assembly {
    padding-top: 25px;
    height: 233px; }
    .widget.assembly h3 {
      margin-top: 5px;
      margin-bottom: 5px;
      text-align: center; }
    .widget.assembly:hover img {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
      opacity: 0.8; }
  .widget.advert:hover img {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9; }
  .widget.testimonial {
    padding-left: 20px;
    width: 281px;
    position: relative;
    cursor: default; }
    .widget.testimonial li {
      height: 215px;
      overflow: hidden;
      margin: 0; }
    .widget.testimonial h2 {
      color: #fff;
      font-size: 20px;
      font-family: 'ProximaNova', 'helvetica', sans-serif;
      -webkit-font-smoothing: antialiased;
      text-align: center;
      line-height: 23px;
      background: url(../images/testimonials/quote.png) no-repeat;
      width: 187px;
      height: 42px;
      padding: 15px 35px 41px 35px;
      margin-bottom: 5px; }
    .widget.testimonial img {
      float: left;
      padding-right: 15px; }
    .widget.testimonial h3 {
      margin-top: 25px;
      text-align: left; }
    .widget.testimonial h4 {
      text-align: left; }
    .widget.testimonial a.nav {
      width: 20px;
      height: 23px;
      background: url(../images/testimonial-arrow.png) no-repeat;
      position: absolute;
      bottom: 35px;
      left: 145px;
      z-index: 10; }
      .widget.testimonial a.nav.next {
        background-position: right top;
        left: 170px; }

.inner-wrap aside {
  float: left; }
  .inner-wrap aside .widget {
    margin-bottom: 5px; }
    .inner-wrap aside .widget.testimonial {
      padding-top: 20px;
      height: 242px; }
    .inner-wrap aside .widget.subnav {
      padding-top: 25px; }
      .inner-wrap aside .widget.subnav li {
        list-style-position: outside;
        margin-left: 20px; }
        .inner-wrap aside .widget.subnav li a {
          display: -moz-inline-stack;
          display: inline-block;
          vertical-align: middle;
          *vertical-align: auto;
          zoom: 1;
          *display: inline;
          font-family: 'ProximaNova', 'helvetica', sans-serif;
          -webkit-font-smoothing: antialiased;
          line-height: 29px;
          text-decoration: none;
          color: #767676;
          font-size: 20px; }
          .inner-wrap aside .widget.subnav li a.active {
            color: #52a65d; }
          .inner-wrap aside .widget.subnav li a span {
            display: -moz-inline-stack;
            display: inline-block;
            vertical-align: middle;
            *vertical-align: auto;
            zoom: 1;
            *display: inline;
            margin-right: 10px;
            width: 0;
            height: 0;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-left: 6px solid #55a560; }

.page header.main {
  margin-bottom: 25px;
  border-bottom: 2px solid #86BF8D; }

.rentals header.main {
  margin-bottom: 0; }

section.page {
  margin-left: 320px;
  padding: 25px 20px 10px 20px;
  margin-bottom: 30px;
  color: #525252; }
  section.page h2 {
    color: #525252;
    font-size: 24px;
    margin-bottom: 25px; }
  section.page ul {
    margin: 15px 0; }
    section.page ul li {
      list-style-type: disc;
      list-style-position: inside;
      line-height: 22px;
      margin-bottom: 5px; }
  section.page em {
    font-style: italic; }
  section.page strong {
    font-weight: bold; }
  section.page h3 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 30px; }
  section.page h4 {
    font-size: 18px;
    font-weight: 400;
    margin: 5px 0; }
  section.page p {
    margin-bottom: 30px;
    line-height: 22px; }
  section.page dl.active dd {
    display: block; }
  section.page dl dt {
    cursor: pointer;
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
    font-weight: bold;
    font-size: 17px; }
  section.page dl dd {
    font-style: italic;
    display: none; }
  section.page a {
    color: #525252;
    font-weight: bold;
    text-decoration: none; }
    section.page a:hover {
      text-decoration: underline; }
  section.page .two-column {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
    margin-bottom: 70px;
    overflow: hidden;
    *zoom: 1; }
    section.page .two-column li {
      list-style-type: none; }
  section.page form {
    margin-top: 10px; }
  section.page input[type="text"], section.page textarea {
    background-color: #F9F5EE;
    border: none;
    color: #767676;
    font-size: 15px;
    font-family: 'ProximaNova', 'helvetica', sans-serif;
    -webkit-font-smoothing: antialiased;
    padding: 15px;
    width: 479px;
    margin-bottom: 5px;
    outline: none;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms; }
    section.page input[type="text"].placeholder, section.page textarea.placeholder {
      color: #767676; }
    section.page input[type="text"]:-moz-placeholder, section.page textarea:-moz-placeholder {
      color: #767676; }
    section.page input[type="text"]::-webkit-input-placeholder, section.page textarea::-webkit-input-placeholder {
      color: #767676; }
    section.page input[type="text"]:focus, section.page textarea:focus {
      -webkit-box-shadow: inset 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: inset 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
      box-shadow: inset 0px 2px 5px 1px rgba(0, 0, 0, 0.2); }
      section.page input[type="text"]:focus.placeholder, section.page textarea:focus.placeholder {
        color: #909090; }
      section.page input[type="text"]:focus:-moz-placeholder, section.page textarea:focus:-moz-placeholder {
        color: #909090; }
      section.page input[type="text"]:focus::-webkit-input-placeholder, section.page textarea:focus::-webkit-input-placeholder {
        color: #909090; }
  section.page input[type="submit"] {
    width: 152px;
    margin: 0 auto;
    display: block;
    color: #fff;
    font-family: 'ProximaNova', 'helvetica', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #55a560;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #55a560), color-stop(100%, #34763c));
    background-image: -webkit-linear-gradient(top, #55a560, #34763c);
    background-image: -moz-linear-gradient(top, #55a560, #34763c);
    background-image: -o-linear-gradient(top, #55a560, #34763c);
    background-image: linear-gradient(top, #55a560, #34763c);
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF55A560', endColorstr='#FF34763C');
    -webkit-box-shadow: inset 0px 1px 3px 1px #2d6835;
    -moz-box-shadow: inset 0px 1px 3px 1px #2d6835;
    box-shadow: inset 0px 1px 3px 1px #2d6835;
    text-align: center;
    font-size: 18px;
    border: none;
    padding: 10px;
    cursor: pointer;
    -webkit-transition-duration: 350ms;
    -moz-transition-duration: 350ms;
    -o-transition-duration: 350ms;
    transition-duration: 350ms;
    display: block;
    margin: 15px auto;
    outline: none; }
    section.page input[type="submit"]:hover {
      -webkit-box-shadow: inset 0px 1px 5px 2px #2d6835;
      -moz-box-shadow: inset 0px 1px 5px 2px #2d6835;
      box-shadow: inset 0px 1px 5px 2px #2d6835; }

.banner {
  background: url('../images/rgbapng/ffffff99.png?1357704915');
  background: rgba(255, 255, 255, 0.6);
  padding: 20px 0;
  border-bottom: 2px solid #86BF8D;
  margin-bottom: 20px; }

.greenrooms .banner {
  background: none;
  background-image: none;
  padding: 0;
  background-color: #fff; }

.dream-green header.main {
  margin-bottom: 0; }

.team .page > div {
  margin-bottom: 20px; }
  .team .page > div img {
    float: left;
    padding: 0 15px 15px 0; }

section.slider {
  width: 100%;
  height: 442px;
  border-bottom: 2px solid #86BF8D;
  background-color: #fff; }
  section.slider ul {
    width: 100%;
    height: 442px; }
  section.slider li {
    display: block;
    float: left;
    width: 100%;
    height: 442px; }
  section.slider a {
    width: 1024px;
    display: block;
    margin: 0 auto; }

.how-it-works .zebra, .how-it-works .banner, .how-it-works .videos article.even {
  background: url('../images/rgbapng/ffffff7f.png?1357704915');
  background: rgba(255, 255, 255, 0.5); }
.how-it-works .banner h2 {
  width: 784px;
  height: 374px;
  background: url(../images/watch-learn.png) no-repeat center center;
  margin: 0 auto;
  padding: 40px 0;
  text-indent: -9999em; }
.how-it-works .videos article {
  margin: 0 auto;
  padding: 55px 0; }
  .how-it-works .videos article .wrap {
    width: 650px; }
  .how-it-works .videos article a {
    text-decoration: none; }
  .how-it-works .videos article .img {
    width: 262px;
    height: 195px;
    position: relative;
    display: block;
    float: left;
    padding-right: 70px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-transition-duration: 350ms;
    -moz-transition-duration: 350ms;
    -o-transition-duration: 350ms;
    transition-duration: 350ms; }
    .how-it-works .videos article .img .play {
      background: url(../images/video-play.png) no-repeat;
      width: 83px;
      height: 83px;
      position: absolute;
      left: 89px;
      top: 56px;
      -webkit-transition-duration: 350ms;
      -moz-transition-duration: 350ms;
      -o-transition-duration: 350ms;
      transition-duration: 350ms; }
    .how-it-works .videos article .img:hover span {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
      opacity: 0.7; }
    .how-it-works .videos article .img:hover {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=78);
      opacity: 0.78; }
  .how-it-works .videos article .text {
    display: block;
    padding-top: 60px; }
    .how-it-works .videos article .text h3 a {
      color: #55A560;
      font-size: 44px;
      font-family: 'ProximaNova', 'helvetica', sans-serif;
      -webkit-font-smoothing: antialiased; }
    .how-it-works .videos article .text p {
      font-size: 21px;
      color: #474747;
      font-family: 'ProximaNova', 'helvetica', sans-serif;
      -webkit-font-smoothing: antialiased; }

.banners {
  background: url('../images/rgbapng/ffffff99.png?1357704915');
  background: rgba(255, 255, 255, 0.6);
  border-top: 2px solid #86BF8D;
  border-bottom: 2px solid #86BF8D;
  margin-bottom: 20px;
  height: 356px; }
  .banners div {
    position: relative;
    width: 100%;
    padding: 20px 0;
    height: 316px; }
    .banners div a {
      width: 753px;
      display: block;
      margin: 0 auto; }

.accessory .product-area .left h1 {
  color: #55A560; }
.accessory .product-area .left .large-images {
  width: 602px;
  height: 360px;
  top: 0;
  left: 0; }

.product-area {
  background: url('../images/rgbapng/ffffff99.png?1357704915');
  background: rgba(255, 255, 255, 0.6);
  padding: 20px 0;
  margin-bottom: 20px;
  border-top: 2px solid #86BF8D;
  border-bottom: 2px solid #86BF8D; }
  .product-area h1 {
    font-family: 'wisdom-script';
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    color: #9B9B9B;
    font-size: 37px; }
    .product-area h1 strong {
      color: #55A560; }
  .product-area .left, .product-area .right {
    background-color: #F9F6EF; }
  .product-area .left {
    width: 598px;
    height: 355px;
    position: relative; }
    .product-area .left h1 {
      position: relative;
      padding: 20px;
      z-index: 1; }
    .product-area .left .size {
      position: absolute;
      bottom: 0px;
      left: 0px;
      padding: 10px;
      font-family: 'ProximaNova', 'helvetica', sans-serif;
      -webkit-font-smoothing: antialiased;
      -webkit-font-smoothing: antialiased;
      font-size: 19px;
      color: #55A560; }
    .product-area .left .large-images {
      width: 525px;
      height: 260px;
      overflow: hidden;
      position: absolute;
      top: 52px;
      left: 24px; }
      .product-area .left .large-images .first {
        display: block; }
      .product-area .left .large-images li {
        display: none; }
    .product-area .left .thumbs {
      position: absolute;
      bottom: 10px;
      right: 10px; }
      .product-area .left .thumbs li, .product-area .left .thumbs a {
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        zoom: 1;
        *display: inline; }
      .product-area .left .thumbs a {
        border: 1px solid #55A560;
        overflow: hidden; }
        .product-area .left .thumbs a:hover, .product-area .left .thumbs a.active {
          border: 4px solid #55A560; }
        .product-area .left .thumbs a img {
          display: block;
          float: left;
          border: none;
          margin: -1px; }
        .product-area .left .thumbs a:hover img, .product-area .left .thumbs a.active img {
          margin: -4px; }
  .product-area .right {
    float: right;
    width: 232px;
    height: 304px;
    padding: 30px 15px 20px 15px; }
    .product-area .right h2 {
      font-family: 'ProximaNova', 'helvetica', sans-serif;
      -webkit-font-smoothing: antialiased;
      margin-bottom: 30px;
      font-size: 20px;
      color: #4d4d4d; }
    .product-area .right p {
      display: block;
      margin-bottom: 30px;
      text-align: right; }
    .product-area .right label {
      font-family: 'ProximaNova', 'helvetica', sans-serif;
      -webkit-font-smoothing: antialiased;
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline; }
    .product-area .right a {
      text-decoration: none;
      color: #72B178;
      font-family: 'ProximaNova', 'helvetica', sans-serif;
      -webkit-font-smoothing: antialiased;
      clear: both;
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline; }
    .product-area .right select {
      width: 140px;
      text-align: right; }
    .product-area .right input[type="submit"] {
      width: 152px;
      margin: 0 auto;
      display: block;
      color: #fff;
      font-family: 'ProximaNova', 'helvetica', sans-serif;
      -webkit-font-smoothing: antialiased;
      background-color: #55a560;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #55a560), color-stop(100%, #34763c));
      background-image: -webkit-linear-gradient(top, #55a560, #34763c);
      background-image: -moz-linear-gradient(top, #55a560, #34763c);
      background-image: -o-linear-gradient(top, #55a560, #34763c);
      background-image: linear-gradient(top, #55a560, #34763c);
      *zoom: 1;
      filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF55A560', endColorstr='#FF34763C');
      -webkit-box-shadow: inset 0px 1px 3px 1px #2d6835;
      -moz-box-shadow: inset 0px 1px 3px 1px #2d6835;
      box-shadow: inset 0px 1px 3px 1px #2d6835;
      text-align: center;
      font-size: 18px;
      border: none;
      padding: 10px;
      cursor: pointer;
      -webkit-transition-duration: 350ms;
      -moz-transition-duration: 350ms;
      -o-transition-duration: 350ms;
      transition-duration: 350ms; }
      .product-area .right input[type="submit"]:hover {
        -webkit-box-shadow: inset 0px 1px 5px 2px #2d6835;
        -moz-box-shadow: inset 0px 1px 5px 2px #2d6835;
        box-shadow: inset 0px 1px 5px 2px #2d6835; }
    .product-area .right h3 {
      color: #4D4D4D;
      font-size: 20px;
      font-family: 'ProximaNova', 'helvetica', sans-serif;
      -webkit-font-smoothing: antialiased;
      text-align: right; }
      .product-area .right h3 span {
        color: #55A560;
        font-family: 'ProximaNova', 'helvetica', sans-serif;
        -webkit-font-smoothing: antialiased;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        zoom: 1;
        *display: inline;
        margin-left: 5px; }

.widget.subnav {
  height: 100%;
  padding-bottom: 25px; }

.shop .switcher {
  margin-left: 325px;
  margin-bottom: 25px; }
  .shop .switcher li, .shop .switcher a {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline; }
  .shop .switcher a {
    color: #fff;
    font-family: 'ProximaNova', 'helvetica', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    font-size: 19px;
    padding: 25px;
    background: url('../images/rgbapng/55a56066.png?1357704915');
    background: rgba(85, 165, 96, 0.4);
    position: relative; }
    .shop .switcher a.active, .shop .switcher a:hover {
      background-color: #55A560; }
      .shop .switcher a.active span, .shop .switcher a:hover span {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #55a560;
        position: absolute;
        left: 50%;
        bottom: -10px;
        margin-left: -10px; }
.shop .products {
  margin-left: 325px;
  margin-bottom: 20px; }
  .shop .products article {
    border: 2px solid #C5D4B8;
    position: relative;
    width: 553px;
    height: 187px;
    overflow: hidden;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-transition-duration: 350ms;
    -moz-transition-duration: 350ms;
    -o-transition-duration: 350ms;
    transition-duration: 350ms;
    cursor: pointer;
    margin-bottom: 5px; }
    .shop .products article:hover {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
      opacity: 0.85; }
    .shop .products article h2, .shop .products article h3, .shop .products article span {
      position: absolute; }
    .shop .products article .fade {
      width: 200px;
      height: 187px;
      background: url(../images/product-fade.png) no-repeat;
      position: absolute;
      left: 0;
      top: 0; }
    .shop .products article span {
      font-family: 'ProximaNova', 'helvetica', sans-serif;
      -webkit-font-smoothing: antialiased;
      font-size: 18px;
      color: #55A560;
      padding: 10px; }
    .shop .products article .dimensions {
      top: 0;
      left: 0; }
    .shop .products article .price {
      top: 0;
      right: 0; }
    .shop .products article .title {
      bottom: 35px;
      left: 0;
      font-family: 'wisdom-script';
      font-size: 33px;
      padding-left: 10px; }
      .shop .products article .title a {
        -webkit-font-smoothing: antialiased;
        text-decoration: none;
        color: #9B9B9B; }
        .shop .products article .title a strong {
          color: #55A560; }
    .shop .products article .description {
      bottom: 0;
      left: 0;
      font-family: 'ProximaNova', 'helvetica', sans-serif;
      -webkit-font-smoothing: antialiased;
      color: #9B9B9B;
      font-size: 16px;
      padding: 10px; }
.shop .inner-wrap > .details {
  background: url('../images/rgbapng/ffffff6b.png?1357704915');
  background: rgba(255, 255, 255, 0.42);
  display: block;
  margin-left: 325px;
  padding: 40px 25px 25px 25px;
  margin-bottom: 20px; }
  .shop .inner-wrap > .details img {
    float: left;
    padding: 0px 20px 20px 0; }
  .shop .inner-wrap > .details p {
    font-family: 'ProximaNova', 'helvetica', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    color: #525252;
    line-height: 22px;
    margin-bottom: 15px; }

.product .products {
  display: none; }
  .product .products article .title {
    bottom: 15px; }
    .product .products article .title a {
      color: #55A560; }

.accessories .banners div {
  width: 879px;
  margin: 0 auto; }
.accessories .products article .title {
  bottom: 15px; }
  .accessories .products article .title a {
    color: #55A560; }
