.page header.main {
	margin-bottom: 25px;
	border-bottom: 2px solid #86BF8D;
}

.rentals header.main {
	margin-bottom: 0;
}

section.page {
	margin-left: 320px;
	padding: 25px 20px 10px 20px;
	margin-bottom: 30px;
	color: #525252;

	h2 {
		color: #525252;
		font-size: 24px;
		margin-bottom: 25px;
	}

	ul {

		margin: 15px 0;

		li {
			list-style-type: disc;
			list-style-position: inside;
			line-height: 22px;
			margin-bottom: 5px;
		}

	}

	em {
		font-style: italic;
	}

	strong {
		font-weight: bold;
	}

	h3 {
		font-size: 18px;
		font-weight: 500;
		margin-top: 30px;
	}

	h4 {
		font-size: 18px;
		font-weight: 400;
		margin: 5px 0;
	}

	p {
		margin-bottom: 30px;
		line-height: 22px;
	}

	dl {

		&.active dd {
			display: block;
		}

		dt {
			cursor: pointer;
			display: list-item;
			list-style-type: disc;
			list-style-position: inside;
			font-weight: bold;
			font-size: 17px;
		}

		dd {
			font-style: italic;
			display: none;
		}
	}

	a {
		color: #525252;
		font-weight: bold;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}

	.two-column {

		@include column-count(2);
		margin-bottom: 70px;
		@include clearfix;

		li {
			list-style-type: none;
		}
	}

	form {
		margin-top: 10px;
	}

	input[type="text"], textarea {
		background-color: #F9F5EE;
		border: none;
		color: #767676;
		font-size: 15px;
		@include sans-serif;
		@include input-placeholder(#767676);
		padding: 15px;
		width: 479px;
		margin-bottom: 5px;
		outline: none;
		@include transition-duration(300ms);

		&:focus {
			@include input-placeholder(lighten(#767676, 10%));
			@include box-shadow(inset 0px 2px 5px 1px rgba(0, 0, 0, .2));
		}
	}

	input[type="submit"] {
		@include button;
		display: block;
		margin: 15px auto;
		outline: none;
	}
}

.banner {
	@include light-bg;
	padding: 20px 0;
	border-bottom: 2px solid #86BF8D;
	margin-bottom: 20px;
}

.greenrooms {
	.banner {
		background: none;
		background-image: none;
		padding: 0;
		background-color: #fff;
	}
}

.dream-green {
	header.main {
		margin-bottom: 0;
	}
}

.team {
	.page {
		> div {

			margin-bottom: 20px;

			img {
				float: left;
				padding: 0 15px 15px 0;
			}
		}
	}
}