section.slider {

	width: 100%;
	height: 442px;
	border-bottom: 2px solid #86BF8D;
	background-color: #fff;

	ul {
		width: 100%;
		height: 442px;
	}

	li {
		display: block;
		float: left;
		width: 100%;
		height: 442px;
	}

	a {
		width: 1024px;
		display: block;
		margin: 0 auto;
	}

}