.how-it-works {

	.zebra {
		@include rgba-background(rgba(255,255,255,.5));
	}

	.banner {
		@extend .zebra;

		h2 {
			width: 784px;
			height: 374px;
			background: url(../images/watch-learn.png) no-repeat center center;
			margin: 0 auto;
			padding: 40px 0;
			text-indent: -9999em;
		}
	}

	.videos {

		article {

			margin: 0 auto;
			padding: 55px 0;

			.wrap {
				width: 650px;
			}

			&.even {
				@extend .zebra;
			}

			a {
				text-decoration: none;
			}

			.img {
				width: 262px;
				height: 195px;
				position: relative;
				display: block;
				float: left;
				padding-right: 70px;
				@include opacity(1);
				@include transition-duration(350ms);

				.play {
					background: url(../images/video-play.png) no-repeat;
					width: 83px;
					height: 83px;
					position: absolute;
					left: 89px;
					top: 56px;
					@include transition-duration(350ms);
				}

				&:hover span {
					@include opacity(.7);
				}
				&:hover {
					@include opacity(.78);
				}

			}
			.text {

				display: block;
				padding-top: 60px;

				h3 a {
					color: #55A560;
					font-size: 44px;
					@include sans-serif;
				}
				p {
					font-size: 21px;
					color: #474747;
					@include sans-serif;
				}

			}
		}

	}

}