.banners {

	@include light-bg;
	border-top: 2px solid #86BF8D;
	border-bottom: 2px solid #86BF8D;
	margin-bottom: 20px;
	height: 356px;

	div {
		position: relative;
		width: 100%;
		padding: 20px 0;
		height: 316px;

		a {
			width: 753px;
			display: block;
			margin: 0 auto;
		}
	}

}

.accessory .product-area {
	.left {
		h1 {
			color: #55A560;
		}

		.large-images {
			width: 602px;
			height: 360px;
			top: 0;
			left: 0;
		}
	}
}

.product-area {

	@include light-bg;
	padding: 20px 0;
	margin-bottom: 20px;
	border-top: 2px solid #86BF8D;
	border-bottom: 2px solid #86BF8D;

	h1 {
		font-family: 'wisdom-script';
		@include text-smooth;
		text-decoration: none;
		color: #9B9B9B;
		font-size: 37px;

		strong {
			color: #55A560;
		}
	}

	.left, .right {
		background-color: #F9F6EF;
	}

	.left {
		width: 598px;
		height: 355px;
		position: relative;

		h1 {
			position: relative;
			padding: 20px;
			z-index: 1;
		}

		.size {
			position: absolute;
			bottom: 0px;
			left: 0px;
			padding: 10px;
			@include sans-serif;
			@include text-smooth;
			font-size: 19px;
			color: #55A560;
		}

		.large-images {
			width: 525px;
			height: 260px;
			overflow: hidden;
			position: absolute;
			top: 52px;
			left: 24px;

			.first {
				display: block;
			}
			li {
				display: none;
			}
		}

		.thumbs {

			position: absolute;
			bottom: 10px;
			right: 10px;

			li, a {
				@include inline-block;
			}
			a {
				border: 1px solid #55A560;
				overflow: hidden;

				&:hover, &.active {
					border: 4px solid #55A560;
				}

				img {
					display: block;
					float: left;
					border: none;
					margin: -1px;
				}

				&:hover img, &.active img {
					margin: -4px;
				}
			}

		}
	}

	.right {
		float: right;
		width: 232px;
		height: 304px;
		padding: 30px 15px 20px 15px;

		h2 {
			@include sans-serif;
			margin-bottom: 30px;
			font-size: 20px;
			color: #4d4d4d;
		}

		p {
			display: block;
			margin-bottom: 30px;
			text-align: right;
		}

		label {
			@include sans-serif;
			@include inline-block;
		}

		a {
			text-decoration: none;
			color: #72B178;
			@include sans-serif;
			clear: both;
			@include inline-block;
		}

		select {
			width: 140px;
			text-align: right;
		}

		input[type="submit"] {
			@include button;
		}

		h3 {

			color: #4D4D4D;
			font-size: 20px;
			@include sans-serif;
			text-align: right;

			span {
				color: #55A560;
				@include sans-serif;
				@include inline-block;
				margin-left: 5px;
			}
		}
	}

}

.widget.subnav {
	height: 100%;
	padding-bottom: 25px;
}

.shop {

	.switcher {

		margin-left: 325px;
		margin-bottom: 25px;

		li, a {
			@include inline-block;
		}

		a {
			color: #fff;
			@include sans-serif;
			text-decoration: none;
			font-size: 19px;
			padding: 25px;
			@include rgba-background(rgba(85,165,96,.4));
			position: relative;

			&.active, &:hover {
				background-color: #55A560;

				span {
					@include arrow-down(10px, #55A560);
					position: absolute;
					left: 50%;
					bottom: -10px;
					margin-left: -10px;
				}
			}
		}
	}

	.products {

		margin-left: 325px;
		margin-bottom: 20px;

		article {
			border: 2px solid #C5D4B8;
			position: relative;
			width: 553px;
			height: 187px;
			overflow: hidden;
			@include opacity(1);
			@include transition-duration(350ms);
			cursor: pointer;
			margin-bottom: 5px;

			&:hover {
				@include opacity(.85);
			}

			h2, h3, span {
				position: absolute;
			}

			.fade {
				width: 200px;
				height: 187px;
				background: url(../images/product-fade.png) no-repeat;
				position: absolute;
				left: 0;
				top: 0;
			}

			span {
				@include sans-serif;
				font-size: 18px;
				color: #55A560;
				padding: 10px;
			}

			.dimensions {
				top: 0;
				left: 0;
			}

			.price {
				top: 0;
				right: 0;
			}

			.title {
				bottom: 35px;
				left: 0;
				font-family: 'wisdom-script';
				font-size: 33px;
				padding-left: 10px;

				a {
					@include text-smooth;
					text-decoration: none;
					color: #9B9B9B;
					strong {
						color: #55A560;
					}
				}
			}

			.description {
				bottom: 0;
				left: 0;
				@include sans-serif;
				color: #9B9B9B;
				font-size: 16px;
				padding: 10px;
			}
		}

	}

	.inner-wrap {

		> .details {

			@include rgba-background(rgba(255,255,255,.42));
			display: block;
			margin-left: 325px;
			padding: 40px 25px 25px 25px;
			margin-bottom: 20px;

			img {
				float: left;
				padding: 0px 20px 20px 0;
			}

			p {
				@include sans-serif;
				font-size: 15px;
				color: #525252;
				line-height: 22px;
				margin-bottom: 15px;
			}

		}

	}

}

.product {
	.products {
		display: none;

		article {

			.title {
				bottom: 15px;

				a {
					color: #55A560;
				}
			}

		}
	}
}

.accessories {

	.banners {
		div {
			width: 879px;
			margin: 0 auto;
		}		
	}

	.products {

		article {

			.title {
				bottom: 15px;

				a {
					color: #55A560;
				}
			}

		}

	}

}